@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Switzer";
  padding: 0;
  margin: 0;
  background: #f5f5fa;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgb(137, 137, 171, 0.2);
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background: transparent;
}

.dogeos-faucet-banner {
  margin: 0 15px;
  border-radius: 4px;
  background: url(./assets/banner.png) no-repeat 0 0;
  background-size: 100% auto;
  padding: 20px 20px 10px;
  font-size: 16px;
  line-height: 1.2;
  color: #12122a;
  font-weight: 600;
  cursor: pointer;
}

.dogeos-faucet {
  background: #f5f5fa url(./assets/bg.png) no-repeat 0 0;
  background-size: 100% auto;
  max-width: 800px;
  margin: 0 auto;
}
.dogeos-faucet-part {
  margin: 12px 15px;
  border-radius: 15px;
  background-color: #fff;
  padding: 15px 20px 1px;
  color: #616184;
  font-size: 13px;
  line-height: 1.35;
}
.dogeos-faucet-part h2 {
  font-size: 16px;
  font-weight: 600;
  color: #12122a;
  margin-bottom: 10px;
}
.dogeos-faucet-part em {
  color: #616184;
  font-style: normal;
  font-weight: 600;
}
.dogeos-faucet-part p {
  margin-bottom: 12px;
}
.dogeos-faucet-part ol {
  padding: 0;
  margin-left: 2rem;
  list-style-type: disc;
}
.dogeos-faucet-part li {
  margin-top: 6px;
}
.dogeos-faucet-balance {
  padding: 12px 20px;
  margin-top: 80px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.dogeos-balance-value {
  font-size: 26px;
  font-weight: 600;
  color: #12122a;
  line-height: 1.2;
  margin-top: 10px;
}

.dogeos-faucet-use {
  padding-bottom: 1rem;
}

.g-recaptcha{
  width: 320px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  margin: 0 auto 10px;
}
.g-recaptcha-show{
  /* border-right:1px solid #ccc; */
  height: 76px;
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.4s ease-in-out;
}

.g-recaptcha iframe{
  width: 303px !important;
  margin-left: 15px;
}
.dogeos-faucet-btn{
  margin: 0px 20px 50px;
}

.bg-primary{
  background-color: #FCD436;
  border:none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.tomo-btn-disabled{
  background-color: #EBEBF4;
  border:none;
  font-size: 16px;
  font-weight: 600;
  color: #8989AB;
}
